body {
 font-family: 'Roboto', helvetica, arial, sans-serif; 
}

.main-form {
  width: 480px;
  height: 60px;
  margin: 0 auto;
  margin-top: 160px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}

input {
 font-size: 20px;
  font-family: 'Roboto', helvetica, araial, sans-serif;
}

input[type="text"] {
  padding: 8px 12px;
}

.btn {
  background: #3090A1;
  color: #fff;
  border: none;
  padding: 0;
}